<h2 class="display-3 text-center ">Login</h2>
<div class="container  bg-body-secondary   text-center   ">
<form  [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-group  col-6 container-fluid   ">
        <label class="form-label " for="email">Email</label>
        <input class="form-control " type="email" id="email" formControlName="email" >
        <div *ngIf="form.hasError('required','email') && (form.controls['email'].touched ||
        form.controls['email'].dirty)" class="alert alert-danger" role="alert">
            Email is required
        </div>
    </div>
    <div class="form-group col-6 p-3  container-fluid ">
        <label class="form-label " for="password">Password</label>
        <input class="form-control " type="password" id="password" formControlName="password">
        <div *ngIf="form.hasError('required','password') && (form.controls['password'].touched ||
        form.controls['password'].dirty)" class="alert alert-danger" role="alert">
            Password is required
        </div>
    </div>
     <div class="form-group col-6 p-3 container-fluid  ">
        <button class="btn btn-primary " type="submit" [routerLink]="['']">
            Login
        </button>
        <button class="btn btn-secondary " [routerLink]="['/register']">
            Register
        </button>
    </div>
</form>
</div>