<h1 class="bg-dark-subtle " style="padding-bottom: 4px ; color:blue" align-text-bottom  ><img class="p-1 " height="45px"   src=".\assets\SLogo.png" alt="">Speridian Technologies</h1>
<nav class="navbar bg-dark-subtle ">
  <a class="navbar-brand" style="margin-left: 2px;">{{title}}</a>
  <ul class="nav nav-pills bg-dark-subtle  " *ngIf="isloggedIn()">
    <li class="nav-item  ">
      <a class="nav-link " [routerLink]="['']">Home</a>
    </li>
    <li class="nav-item  ">
      <a class="nav-link " routerLinkActive="active" [routerLink]="['/departments']">Department list</a>
    </li>
    <li class="nav-item  ">
      <a class="nav-link " routerLinkActive="active" [routerLink]="['/employees']">Employee List</a>
    </li>
    <li class="nav-item  ">
      <a class="nav-link " routerLinkActive="active" [routerLink]="['/departments/add']">Add Department</a>
    </li>
    <li class="nav-item  ">
      <a class="nav-link " routerLinkActive="active" [routerLink]="['/employees/add']">Add Employee</a>
    </li>
    <li class="nav-item  ">
      <a class="nav-link "  [routerLink]="['']" (click)="logout()" >Logout</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
